{% extends 'otree/WaitPage.html' %}
{% load otree %}
{% block title %}{{ title_text }}{% endblock %}
{% block content %}
    {{ body_text }}
    <div id="getting-started"></div>
    <script type="text/javascript">
        var idleTime = 0,
            active = true;

        function send_status(status) {
            if (status !== active) {
                console.log(status);
                active = status;
            }
        };

        $(document).ready(function () {
            //Increment the idle time counter every second.
            var idleInterval = setInterval(timerIncrement, 1000); // 1 second

            //Zero the idle timer on mouse movement.
            $(this).mousemove(function (e) {
                idleTime = 0;
                send_status(true);
            });
            $(this).keypress(function (e) {
                idleTime = 0;
                send_status(true);
            });
        });

        function timerIncrement() {
            idleTime = idleTime + 1;
            if (idleTime > {{ Constants.seconds_to_passive }}) {
                send_status(false);
            }
        }
    </script>

{% endblock %}