{% extends 'otree/WaitPage.html' %}
{% load otree %}
{% block title %}{{ title_text }}{% endblock %}
{% block content %}
    {{ body_text }}
    <div id="getting-started"></div>
    <script type="text/javascript">
        var idleTime = 0,
            message_sent = false,
            active = true;

        function send_status(status) {
            if (status !== active) {
                console.log(status);
                active = status;
            }
        };

        $(document).ready(function () {
            //Increment the idle time counter every minute.
            var idleInterval = setInterval(timerIncrement, 1000); // 1 minute

            //Zero the idle timer on mouse movement.
            $(this).mousemove(function (e) {
                idleTime = 0;
                send_status(true);
            });
            $(this).keypress(function (e) {
                idleTime = 0;
                send_status(true);
            });
        });

        function timerIncrement() {
            idleTime = idleTime + 1;
            if (idleTime > 5) {
                send_status(false);
            }
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.js"></script>
    <script type="text/javascript">
        $('#getting-started').countdown('2020/01/01',).on('update.countdown', function (event) {
            // %-N is "Total count of minutes till the end, non-padded"
            // %S is seconds left
            var format = '%-N:%S';
            $(this).html(event.strftime(format));
            {#console.log(event.strftime(format));#}
        });
    </script>
{% endblock %}